body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-wrapper {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
}

.header p {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 48px;
    font-weight: 900;  
}

.content p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 7px;
    padding: 8px;
    border: none;
    margin-bottom: 20px;
    color: #F9FAF8;
}

.second-wrapper {
    margin-bottom: 50px;
}

h2 {
    font-size: 36px;
    color: #1F2927;
    font-weight: 900;
    text-align: center;
}

.cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info {
    border: 2px solid #3882F6;
    padding: 80px;
    margin: 10px;
    border-radius: 10px;
}

.third-wrapper {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 3em;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2927;
}

.name {
    margin-left: 50em;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.last-section {
    background-color: #3882F6;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    color: #F9FAF8;
    margin: 50px 0;
}    

.clickable {
    border: 1px solid white;
    padding: 12px; 
    margin-left: 50em;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 20px;
}
